[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	#name = Alejandro Martinez
	#email = alejandro.martinez@intelligenia.com
	name = Alejandro Tynez
    	email = alejandro.mtnez13@gmail.com
[http]
	#proxy = http://10.5.135.31:9080/
[core]
	editor = code --wait
