[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Tynez
	email = alejandro.mtnez13@gmail.com
[includeIf "gitdir:~/Workspace/Autentia/"]
  path = ~/Workspace/Autentia/.gitconfig
[includeIf "gitdir:~/Workspace/Intelligenia/"]
	path = ~/Workspace/Intelligenia/.gitconfig

[alias]
  c = commit -m
  ch = checkout
  a = add
  p = pull
  d = push
  f = fetch

[http]
	#proxy = http://10.5.135.31:9080/

[core]
	editor = code --wait
	autocrlf = input
	ignoreCase = false

[branch "main"]
	remote = origin
	merge = refs/heads/main
	mergeoptions = --no-ff

[pull]
	ff = true
	rebase = false

[init]
	defaultBranch = main
